body{
   background: linear-gradient(white, #BBBBBB);
   font-family: 'Rajdhani', sans-serif;
}

.banner{
    width: 100%;
}
.principal{
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}
.tituloPrincipal{
    text-align: center;
    padding: 20px;
    margin: 1em;
    font-size: 3em;
}

.principal p{
    text-align: justify;
    font-size: 2em;
    margin: 20px 50px;
}

.utensilios{
    width: 200px;
    float: left;
    margin: 0  20px 40px 20px;
    
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

p.missao {
    font-size: 2.5em;
    text-align: center;
    border: black 20px double;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 100px;
    clear: left;

}
.beneficios{
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}
.itens{
    width: 70%;
    margin: 0 auto;
}

.itens li{
    display: inline-block;
    box-sizing: border-box;
    display: inline-block;
    margin: 20px;
    vertical-align: top;
}
.itens li h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    border: black 3px solid;
    border-radius: 30px;
}
#picBen{
    width: 400px;
    height: 260px;
}
#picCer{
    width: 400px;
}
#picEst{
    width: 400px;
}

/*
@media screen and (max-width: 480px) {}
/*