body{
   background-color: #EEEEEE;
}

#banner{
    width: 100%;
}
.principal{
    background: #CCCCCC;
    padding: 20px;
}
.tituloCentralizado{
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-size: 60px;
}
p{
    text-align: center;
    font-size: 30px;
}

#missao{
    font-size: 40px
}
.beneficios{
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}
.itens{
    width: 70%;
    margin: 0 auto;
}

.itens li{
    display: inline-block;
    box-sizing: border-box;
    display: inline-block;
    margin: 20px;
    vertical-align: top;
}
.itens li h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    border: black 3px solid;
    border-radius: 30px;
}
#picBen{
    width: 400px;
    height: 260px;
}
#picCer{
    width: 400px;
}
#picEst{
    width: 400px;
}